/* Styles for Desktop Site */

/* Header & Hero */
header {
    text-align: center;
    font-family: questrial;
    font-size: 45px;
    color: #EFE9a4;
    text-shadow:
        -3px -3px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

#hero {
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
}

#hero h1 {
    flex-grow: 2;
    text-align: center;
}

#hero img {
    width: 10rem;
    max-width: 100%;
    border-radius: 50%;
    border: solid 2px black;
}

body {
    background-color: #F1C5C2;
}

h2 {
    text-align: center;
    font-family: questrial;
    font-size: 35px;
}

#selfie img {
    width: 25rem;
    max-width: 100%;
    border: groove 3px #c1ceff;
    border-radius: 3rem;
}

#selfie {
    text-align: center;
}

#selfie p {
    margin: 30px;
    font-family: questrial;
    font-size: 20px;
}

/* Projects */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: ridge 10px #95e7c5;
    background-color: #c1ceff;
}

#projects img {
    display: block;
    max-width: 80%;
    border: ridge 5px #EFE9a4;
    padding: 5px;
    justify-self: center;
}

#projects h3 {
    grid-column: 1/-1;
    font-family: questrial;
    font-size: 35px;
    border-bottom: ridge 7px #95e7c5;
    text-align: center;
    padding-bottom: 10px;
    color: #8ea6ff;
    text-shadow:
        -2px -2px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

#projects p {
    font-family: questrial;
    font-size: 18px;
    text-align: center;
    padding: 3px;
}

/* Reviews */
h4 {
    text-align: left;
    font-family: questrial;
    font-size: 35px;
    align-items: center;
    align-self: center;
    margin-right: 2rem;
    border-bottom: ridge 5px #F1C5C2;
    border-top: ridge 5px #F1C5C2;
    color: #e79e99;
    text-shadow:
        -2px -2px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
        padding: 5px;
}

#reviews {
    font-family: questrial;
    font-size: 18px;
    text-align: center;
    display: flex;
}

#reviews img {
    max-width: 50px;
    filter: drop-shadow(5px 5px 10px black);
    margin-right: 20px;
}

.title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.review {
    border: ridge 5px #F1C5C2;
    border-radius: 20px;
    margin: 10px;
    background-color: #e6c0e9;
}

.title {
    border-bottom: ridge 5px #e6c0e9;
    margin: 30px;
    font-weight: bold;
    font-size: 20px;
}

.name {
    font-size: 25px;
    color: #d79adc;
    text-shadow:
        -2px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
        font-weight: bold;
}

/* Footer */

footer {
    text-align: right;
    font-family: questrial;
    font-size: 25px;
    padding: 10px;
    color: #EFE9a4;
    text-shadow:
        -2px -2px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-weight: bold;
}


/* Media state for Mobile site */
@media (max-width: 1000px) {

    /* Header & Hero */
    #hero {
        display: flex;
        justify-content: center;
        font-size: 28px;
    }

    #hero img {
        width: 5rem;
    }

    


    /* Projects */
    .dress {
        grid-column: 1/-1;
    }

    .costume {
        grid-column: 1/-1;
    }

    .blanket {
        grid-column: 1/-1;
    }

    .project {
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
    }
    #projects div h3 {
        border-bottom: none;
    }
    /* Reviews */
    #reviews {
        display: block;
    }

    h4 {
        text-align: center;
        margin-left: 50px;
    }

    /* Footer */
    footer {
        font-size: 15px;
    }

}